{% extends "base_site.html" %}

{% block title %} {{ agent.name }} {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ agent.name }}</h3>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" style="height: auto;">
                            <div class="x_title">
                                <h2>Modules</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                 {% for module in agent_modules %}
                                     <h4><a href="/module/{{ module.uuid }}/">{{ module.name }}</a></h4>
                                     <p>Uses Image: {{ module.image }}</p>
                                     <p>Description:</p>
                                     <p>{{ module.description }}</p>
                                     <div class="clearfix"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" style="height: auto;">
                            <div class="x_title">
                                <h2>Logs</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                {% for log in logs %}
                                    {% if log.type == "error" %}
                                        <span class="label label-danger">Error:</span> {{ log.timestamp }} <p>{{ log.message }}</p>
                                    {% elif log.type == "action" %}
                                        <span class="label label-success">Action:</span> {{ log.timestamp }} <p>{{ log.message }}</p>
                                    {% elif log.type == "event" %}
                                        <span class="label label-primary">Event:</span> {{ log.timestamp }} <p>{{ log.message }}</p>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}

{% endblock javascripts %}
