{% extends "base_site.html" %}

{% block title %} Create Group {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">

        <div class="title_right">
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>New Group <small>C2F</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">


              <!-- Smart Wizard -->
              <p>Follow the steps below to create a new C2 group</p>
            <form class="form-horizontal form-label-left" method="post" action="/group/create">
              <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                  <li>
                    <a href="#step-1">
                      <span class="step_no">1</span>
                      <span class="step_descr">
                                        Step 1<br />
                                        <small>Name the group</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-2">
                      <span class="step_no">2</span>
                      <span class="step_descr">
                                        Step 2<br />
                                        <small>Add Agents</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-3">
                      <span class="step_no">3</span>
                      <span class="step_descr">
                                        Step 3<br />
                                        <small>Select Modules</small>
                                    </span>
                    </a>
                  </li>

                </ul>

                      <div id="step-1">
                        <div class="form-group">

                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group-name">Group Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="group-name" name="group-name" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="description" name="description"  class="resizable_textarea form-control col-md-7 col-xs-12"></textarea>
                          </div>
                            {% csrf_token %}
                        </div>
                      </div>
                        <div id="step-2">
                            <div class="form-group">
                                {% for agent in agents %}
                                    <div class="form-group">
                                        <div class="checkbox">
                                          <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            <input  name="agent" value="{{ agent.uuid }}" type="checkbox" class="flat form-control"> {{ agent.name }}
                                          </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                          <div id="step-3">
                            <div class="form-group">
                              {% for module in modules %}
                                <div class="form-group">
                                    <div class="checkbox">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        <input name="module" value="{{ module.uuid }}" type="checkbox" class="flat"> {{ module.name }}
                                      </label>
                                    </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>

              </div>
            </form>
              <!-- End SmartWizard Content -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
{% endblock javascripts %}
