{% extends "base_site.html" %}

{% block title %} {{ report_type }} Report {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ outer.name }}</h3>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" style="height: auto;">
                            <div class="x_title">
                                <h2>{{ inner_type }}
                                    <small>in {{ outer.name }}</small>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                                    {% for k, report in reports.items %}
                                        <div class="panel">
                                            <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse"
                                               data-parent="#accordion1" href="#collapseOne1" aria-expanded="true"
                                               aria-controls="collapseOne">
                                                <h4 class="panel-title">{{ report.name }}</h4>
                                            </a>
                                            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel"
                                                 aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    {% for k, table in report.tables.items %}
                                                        {{ table.name }}
                                                    <table id="datatable-buttons"
                                                           class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            {% for column in table.columns %}
                                                                <th>{{ column }}</th>
                                                            {% endfor %}
                                                        </tr>
                                                        </thead>


                                                        <tbody>
                                                        {% for k, entry in table.entries %}
                                                        <tr>
                                                            {% for column in table.columns %}
                                                                <td>{{ entry.column }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- end of accordion -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}

{% endblock javascripts %}
